


//----------------------------------------------\\
// Charlie card
//----------------------------------------------\\
// A reusable self contained block of content
// Some of the modules using this as a base:
// – TODO: Profile cards
// – TODO: Content cards
// – TODO: Modal / dialog boxes
// – Document uploaders
//----------------------------------------------\\

@mixin o-card() {
  position: relative;
  min-height: 50px;
  width: 100%;
  border-radius: $br;
  margin: 15px 0;
  box-shadow: 0 0 0 1px color('black', A5);

  transition: background 0.2s,
              color 0.2s;

  > :first-child {
    border-top-left-radius: $br;
    border-top-right-radius: $br;
  }

  > :last-child {
    border-bottom-left-radius: $br;
    border-bottom-right-radius: $br;
  }
}
