


//------------------------------------------\\
// Typography components
//------------------------------------------\\
// o-text options are specified in the config
//------------------------------------------\\

@mixin c-text--display {
  @include o-text--('display');
}

@mixin c-text--display-200 {
  @include o-text--('display-200');
}

@mixin c-text--display-300 {
  @include o-text--('display-300');
}

@mixin c-text--headline {
  @include o-text--('headline');
}

@mixin c-text--title {
  @include o-text--('title');
}

@mixin c-text--lead {
  @include o-text--('lead');
}

@mixin c-text--body {
  @include o-text--('body');
  opacity: 0.85;
  margin-bottom: 1em;
}

@mixin c-text--product {
  @include o-text--('body');
}

@mixin c-text--note {
  @include o-text--('note');
  opacity: 0.7;
}

@mixin c-text--label {
  @include o-text--('note');
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.7;
}

@mixin c-text--caption {
  @include o-text--('note');
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.7;
}
