<div class="u-padding-y-100 u-bg--charcoal">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 u-text--center">
        <h1 class="o-text--display">Welcome to the proving ground</h1>
        <p class="o-text--subtitle u-color-strength--50">Test all parts of fenrir without anything Charlie.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 u-text--center">
        <div class="u-bg--silver">
          <h1 class="o-text--display">Welcome to the proving ground</h1>
          <p class="o-text--subtitle u-color-strength--50">Test all parts of fenrir without anything Charlie.</p>
        </div>
      </div>
    </div>
  </div>
</div>
