<div class="col-xs-12 col-md-6 col-xl-4">
  <div class="c-profile-card">
    <div class="w-slice w-slice--no-padding">
      <div class="c-profile-card__avatar" style="background-image: url('<%= tm.avatar %>')"></div>
      <div class="c-profile-card__content">
        <p class="c-text--product u-text--company"><%= tm.name %></p>
        <p class="c-text--note u-text--company"><%= tm.role_and_team %></p>
        <p class="c-text--note"><%= tm.badges %></p>
      </div>
    </div>
  </div>
</div>
