<p class="o-text--display">Display</p>
<p class="o-text--headline">Headline</p>
<p class="o-text--title">Title</p>
<p class="o-text--subhead">Subtitle</p>
<p class="o-text--lead">Lead</p>
<p class="o-text--body">Body</p>
<p class="o-text--label">Label</p>
<p class="o-text--caption">Caption</p>
<p class="o-text--note">Note</p>

<br><br>

<p class="o-text--title u-color-strength--100">color strength 100</p>
<p class="o-text--title u-color-strength--85">color strength 85</p>
<p class="o-text--title u-color-strength--70">color strength 70</p>
<p class="o-text--title u-color-strength--50">color strength 50</p>

<br><br>

<p class="o-text--title u-text--left">Left</p>
<p class="o-text--title u-text--center">Center</p>
<p class="o-text--title u-text--right">Right</p>

<br><br>

<p class="o-text--title u-text--normal">Normal</p>
<p class="o-text--title u-text--bold">Bold</p>

<br><br>

<p class="o-text--title u-color--primary">Primary</p>
<p class="o-text--title u-color--labs">Labs</p>

<p class="o-text--title u-color--success">Success</p>
<p class="o-text--title u-color--warning">Warning</p>
<p class="o-text--title u-color--danger">Danger</p>

<br><br>

<p class="o-text--title u-color--white">White</p>
<p class="o-text--title u-color--silver">Silver</p>
<p class="o-text--title u-color--coolgray">Cool Gray</p>
<p class="o-text--title u-color--gray">Gray</p>
<p class="o-text--title u-color--charcoal">Charcoal</p>
<p class="o-text--title u-color--black">Black</p>
