<header class="u-bg--charcoal">
  <div class="container u-padding-t-200">
    <div class="row">
      <div class="col-xs-4 u-text--center">
        <h1 class="c-text--headline">Galactic Empire</h1>
        <p class="c-text--body">We're here to create a nice structured society for the galaxy, and kill all rebel scum.</p>
      </div>

      <div class="col-xs-4">
        <section class="w-card u-margin-b-0" style="max-height: 190px; overflow: hidden;">
          <div class="w-slice u-bg--charcoal-115 u-padding-y-20">
            <p class="c-text--lead">Documents</p>

            <article class="w-card u-bg--charcoal">
              <p class="c-text--lead">Doc 1</p>
            </article>

            <article class="w-card u-bg--charcoal">
              <p class="c-text--lead">Doc 2</p>
            </article>

            <article class="w-card u-bg--charcoal">
              <p class="c-text--lead">Doc 3</p>
            </article>

            <article class="w-card u-bg--charcoal">
              <p class="c-text--lead">Doc 4</p>
            </article>
          </div>
        </section>
      </div>

      <div class="col-xs-4">
        <section class="w-card u-margin-b-0" style="max-height: 190px; overflow: hidden;">
          <div class="w-slice u-bg--charcoal-115 u-padding-y-20">
            <p class="c-text--lead">Notes</p>

            <article class="w-card u-bg--charcoal">
              <p class="c-text--lead">Note 1</p>
            </article>

            <article class="w-card u-bg--charcoal">
              <p class="c-text--lead">Note 2</p>
            </article>

            <article class="w-card u-bg--charcoal">
              <p class="c-text--lead">Note 3</p>
            </article>

            <article class="w-card u-bg--charcoal">
              <p class="c-text--lead">Note 4</p>
            </article>
          </div>
        </section>
      </div>
    </div>
  </div>
</header>

<section class="u-bg--primary">
  <div class="container u-padding-y-200">
    <div class="row">
      <div class="col-xs-4">
        <section class="w-card">
          <div class="w-slice u-bg--white u-padding-y-20">
            <p class="c-text--lead">Offices</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container u-padding-y-200">
    <div class="row">
      <div class="col-xs-4">
        <section class="w-card">
          <div class="w-slice u-bg--white u-padding-y-20">
            <p class="c-text--lead">Teams</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<section class="u-bg--silver">
  <div class="container u-padding-y-200">
    <div class="row">
      <div class="col-xs-12">
        <section class="w-card">
          <div class="w-slice u-bg--white u-padding-y-20">
            <p class="c-text--lead">Registered Company Information</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
