<% content_for :side_nav do %>
  <div class="w-slice u-padding-y-25 u-margin-y-50">
    Avatar
  </div>

  <a href="#" class="w-slice u-padding-y-25">
    Personal Details
  </a>
  <a href="#" class="w-slice u-padding-y-25">
    Time Off
  </a>
<% end %>

<header class="u-bg--charcoal">
  <div class="container u-padding-y-25">
    <div class="row">
      <div class="col-xs-12">
        Only you and your superiors can see this information
      </div>
    </div>
  </div>
  <div class="container u-padding-t-100 u-padding-b-200">
    <div class="row">
      <div class="col-xs-8">
        <h1 class="c-text--headline">Darth Vader</h1>
        <p class="c-text--body u-margin-b-0">Second-in-Command & Chief Enforcer, 501st Legion</p>
        <p class="c-text--body">Based in Imperial Navy</p>
        <p class="c-text--caption">Local time: Thursday <%= Time.now.strftime("%H:%M")%></p>
      </div>
      <div class="col-xs-4">

      </div>
    </div>
  </div>
</header>

<section>
  <div class="container u-pull-t-100 u-padding-b-200">
    <div class="row">
      <div class="col-xs-4">
        <section class="w-card">
          <div class="w-slice u-bg--white u-padding-y-20">
            <p class="c-text--lead">Basic information</p>
          </div>
          <div class="w-slice u-bg--white u-padding-b-25">
            <p class="c-text--caption">Role</p>
            <p class="c-text--body">Second-in-Command & Chief Enforcer</p>

            <p class="c-text--caption">Team</p>
            <p class="c-text--body">501st Legion</p>

            <p class="c-text--caption">Office</p>
            <p class="c-text--body">Imperial Navy</p>

            <p class="c-text--caption">Employment Type</p>
            <p class="c-text--body">Permanent</p>
          </div>
        </section>
      </div>
      <div class="col-xs-4">
        <section class="w-card">
          <div class="w-slice u-bg--white u-padding-y-20">
            <p class="c-text--lead">Address</p>
          </div>
          <div class="w-slice u-bg--white u-padding-b-25">
            <p class="c-text--caption">Role</p>
            <p class="c-text--body">Second-in-Command & Chief Enforcer</p>
          </div>
        </section>
      </div>
      <div class="col-xs-4">
        <section class="w-card">
          <div class="w-slice u-bg--white u-padding-y-20">
            <p class="c-text--lead">Contact</p>
          </div>
          <div class="w-slice u-bg--white u-padding-b-25">
            <p class="c-text--caption">Role</p>
            <p class="c-text--body">Second-in-Command & Chief Enforcer</p>
          </div>
        </section>

        <a href="#" class="w-btn u-bg--silver u-bg--to-primary u-text--center c-btn--block">
          <div class="w-slice u-padding-t-20 u-padding-b-25">
            <p class="c-text--caption">Old notes have moved</p>
            <p class="c-text--product">They now live in heaven. RIP.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
