<% variant ||= '' %>

<svg class='<%= variant.present? ? "o-icon o-icon--#{variant}" : "o-icon" %> o-icon--sm' viewBox="0 0 50 50">
  <title>Error</title>
  <path d="M26.8 25l7.8-7.8c.5-.5.5-1.3 0-1.8s-1.3-.5-1.8 0L25 23.2l-7.8-7.8c-.5-.5-1.3-.5-1.8 0s-.5 1.3 0 1.8l7.8 7.8-7.8 7.8c-.5.5-.5 1.3 0 1.8.2.2.6.4.9.4s.6-.1.9-.4l7.8-7.8 7.8 7.8c.2.2.6.4.9.4s.6-.1.9-.4c.5-.5.5-1.3 0-1.8L26.8 25z"/>
</svg>
