<% variant ||= '' %>

<svg class='<%= variant.present? ? "o-icon o-icon--#{variant}" : "o-icon" %>' viewBox="0 0 50 50">
  <title>Success</title>
  <path d="M25 7.2c-9.8 0-17.8 8-17.8 17.8s8 17.8 17.8 17.8 17.8-8 17.8-17.8S34.8 7.2 25 7.2zm9.1 11.5L24.5 32c-.2.3-.5.4-.8.5h-.2c-.3 0-.5-.1-.7-.2l-6.7-4.8c-.6-.4-.7-1.2-.3-1.7.4-.6 1.2-.7 1.7-.3l5.7 4.1 8.9-12.3c.4-.6 1.2-.7 1.7-.3.6.4.7 1.2.3 1.7z"/>
</svg>
