<div class="row u-padding-y-50">
  <div class="col-xs-6">
    <p class="c-text--label">Type size range (Perfect fourth)</p>
    <br>
    <p class="o-text--display-300">Charlie</p>
    <p class="o-text--display-200">Charlie</p>
    <p class="o-text--display">Charlie</p>
    <p class="o-text--headline">Charlie</p>
    <p class="o-text--title">Charlie</p>
    <p class="o-text--lead">Charlie</p>
    <p class="o-text--body">Charlie</p>
    <p class="o-text--note">Charlie</p>
  </div>

  <div class="col-xs-6">
    <p class="c-text--label">Default type variants</p>
    <br>
    <p class="c-text--display-300">Display 300</p>
    <p class="c-text--display-200">Display 200</p>
    <p class="c-text--display">Display</p>
    <p class="c-text--headline">Headline</p>
    <p class="c-text--title">Title</p>
    <p class="c-text--lead">Lead</p>
    <div>
      <span class="c-text--body">Body</span>
      <span class="c-text--product">– Product</span>
    </div>
    <div>
      <span class="c-text--note">Note</span>
      <span class="c-text--label">– Label</span>
      <span class="c-text--caption">– Caption</span>
    </div>
  </div>
</div>

<div class="row u-padding-y-50">
  <div class="col-xs-6">
    <p class="c-text--title u-color-strength--100">color strength 100</p>
    <p class="c-text--title u-color-strength--85">color strength 85</p>
    <p class="c-text--title u-color-strength--70">color strength 70</p>
    <p class="c-text--title u-color-strength--50">color strength 50</p>
  </div>
  <div class="col-xs-6">
    <p class="c-text--title u-color--primary u-color-strength--100">color strength 100</p>
    <p class="c-text--title u-color--primary u-color-strength--85">color strength 85</p>
    <p class="c-text--title u-color--primary u-color-strength--70">color strength 70</p>
    <p class="c-text--title u-color--primary u-color-strength--50">color strength 50</p>
  </div>
</div>

<div class="row u-padding-y-50">
  <div class="col-xs-12">
    <p class="c-text--title u-text--left">Left</p>
    <p class="c-text--title u-text--center">Center</p>
    <p class="c-text--title u-text--right">Right</p>
  </div>
</div>

<div class="row u-padding-y-50">
  <div class="col-xs-12">
    <p class="c-text--title u-text--normal">Normal</p>
    <p class="c-text--title u-text--bold">Bold</p>
  </div>
</div>

<div class="row u-padding-y-50">
  <div class="col-xs-6">
    <p class="c-text--title u-color--primary">Primary</p>
    <p class="c-text--title u-color--labs">Labs</p>
    <br>
    <p class="c-text--title u-color--success">Success</p>
    <p class="c-text--title u-color--warning">Warning</p>
    <p class="c-text--title u-color--danger">Danger</p>
  </div>
  <div class="col-xs-6">
    <p class="c-text--title u-color--white">White</p>
    <p class="c-text--title u-color--silver">Silver</p>
    <p class="c-text--title u-color--coolgray">Cool Gray</p>
    <p class="c-text--title u-color--gray">Gray</p>
    <p class="c-text--title u-color--charcoal">Charcoal</p>
    <p class="c-text--title u-color--black">Black</p>
  </div>
</div>
