<div class="row u-padding-y-50">
  <div class="col-xs-6">
    <p class="o-text--label">Type size range (Perfect fourth)</p>
    <br>
    <p class="o-text--display">heading 3</p>
    <p class="o-text--headline">heading 4</p>
    <p class="o-text--title">heading 5</p>
    <p class="o-text--subtitle">heading 6</p>
    <p class="o-text--product">Body</p>
    <p class="o-text--small">Small</p>
    <p class="o-text--note">Note</p>
  </div>

  <div class="col-xs-6">
    <p class="o-text--label">Default type variants</p>
    <br>
    <p class="o-text--display">Display</p>
    <p class="o-text--headline">Headline</p>
    <p class="o-text--title">Title</p>
    <p class="o-text--subtitle">Subtitle</p>
    <p class="o-text--body">Body <span class="o-text--product">– Product</span></p>
    <p class="o-text--small">Small <span class="o-text--label">– Label</span></p>
    <p class="o-text--note">Note <span class="o-text--caption">– Caption</span></p>
  </div>
</div>

<div class="row u-padding-y-50">
  <div class="col-xs-6">
    <p class="o-text--title u-color-strength--100">color strength 100</p>
    <p class="o-text--title u-color-strength--85">color strength 85</p>
    <p class="o-text--title u-color-strength--70">color strength 70</p>
    <p class="o-text--title u-color-strength--50">color strength 50</p>
  </div>
  <div class="col-xs-6">
    <p class="o-text--title u-color--primary u-color-strength--100">color strength 100</p>
    <p class="o-text--title u-color--primary u-color-strength--85">color strength 85</p>
    <p class="o-text--title u-color--primary u-color-strength--70">color strength 70</p>
    <p class="o-text--title u-color--primary u-color-strength--50">color strength 50</p>
  </div>
</div>

<div class="row u-padding-y-50">
  <div class="col-xs-12">
    <p class="o-text--title u-text--left">Left</p>
    <p class="o-text--title u-text--center">Center</p>
    <p class="o-text--title u-text--right">Right</p>
  </div>
</div>

<div class="row u-padding-y-50">
  <div class="col-xs-12">
    <p class="o-text--title u-text--normal">Normal</p>
    <p class="o-text--title u-text--bold">Bold</p>
  </div>
</div>

<div class="row u-padding-y-50">
  <div class="col-xs-6">
    <p class="o-text--title u-color--primary">Primary</p>
    <p class="o-text--title u-color--labs">Labs</p>
    <br>
    <p class="o-text--title u-color--success">Success</p>
    <p class="o-text--title u-color--warning">Warning</p>
    <p class="o-text--title u-color--danger">Danger</p>
  </div>
  <div class="col-xs-6">
    <p class="o-text--title u-color--white">White</p>
    <p class="o-text--title u-color--silver">Silver</p>
    <p class="o-text--title u-color--coolgray">Cool Gray</p>
    <p class="o-text--title u-color--gray">Gray</p>
    <p class="o-text--title u-color--charcoal">Charcoal</p>
    <p class="o-text--title u-color--black">Black</p>
  </div>
</div>
