<div class="u-padding-y-100 u-bg--charcoal">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 u-text--center">
        <h1 class="o-text--headline">Welcome to the proving ground</h1>
        <p class="o-text--body u-color-strength--50">Test all parts of fenrir without anything Charlie.</p>
        <p class="o-text--body u-color--success">Test all parts of fenrir without anything Charlie.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 u-text--center">
        <div class="u-bg--silver u-color--charcoal o-box">
          <h1 class="o-text--headline">Welcome to the proving ground</h1>
          <p class="o-text--body u-color-strength--50">Test all parts of fenrir without anything Charlie.</p>
          <p class="o-text--body u-color--success">Test all parts of fenrir without anything Charlie.</p>

          <aside class="u-bg--white o-box">
            <h1 class="o-text--headline">Welcome to the proving ground</h1>
            <p class="o-text--body u-color-strength--50">Test all parts of fenrir without anything Charlie.</p>
            <p class="o-text--body u-color--success">Test all parts of fenrir without anything Charlie.</p>

            <section class="u-bg--charcoal o-box">
              <h1 class="o-text--headline">Welcome to the proving ground</h1>
              <p class="o-text--body u-color-strength--50">Test all parts of fenrir without anything Charlie.</p>
              <p class="o-text--body u-color--success">Test all parts of fenrir without anything Charlie.</p>

              <section class="u-bg--primary o-box">
                <h1 class="o-text--headline">Welcome to the proving ground</h1>
                <p class="o-text--body u-color-strength--50">Test all parts of fenrir without anything Charlie.</p>
                <p class="o-text--body u-color--success">Test all parts of fenrir without anything Charlie.</p>

                <aside class="u-bg--white o-box">
                  <h1 class="o-text--headline">Welcome to the proving ground</h1>
                  <p class="o-text--body u-color-strength--50">Test all parts of fenrir without anything Charlie.</p>
                  <p class="o-text--body u-color--success">Test all parts of fenrir without anything Charlie.</p>

                  <section class="u-bg--charcoal o-box">
                    <h1 class="o-text--headline">Welcome to the proving ground</h1>
                    <p class="o-text--body u-color-strength--50">Test all parts of fenrir without anything Charlie.</p>
                    <p class="o-text--body u-color--success">Test all parts of fenrir without anything Charlie.</p>
                  </section>
                </aside>
              </section>
            </section>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
