


//----------------------------------------------\\
// Profile card
//----------------------------------------------\\

.c-profile-card {
  @include w-btn();
  background: color('white');
  color: color('charcoal');
  border-color: color('silver');
  display: flex;

  &:hover,
  &:focus,
  &:active {
    color: color('primary');
  }
}

  .c-profile-card__avatar {
    background-size: cover;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
  }

  .c-profile-card__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: spacing('25');
  }

    .c-profile-card__title {
      @include c-text--product;
      font-family: $company-font;
    }

    .c-profile-card__description {
      @include c-text--note;
      font-family: $company-font;
    }
