<%#= render 'typography/content/old_new' %>

<section class="u-padding-y-100">
  <div class="container">
    <%= render 'typography/content/type' %>
  </div>
</section>

<%= render 'typography/content/type_colors' %>
