<section class="u-padding-y-100">
  <div class="container">
    <%= render 'objects/content/buttons' %>
  </div>
</section>

<section class="u-padding-y-100">
  <div class="container">
    <%= render 'objects/content/cards' %>
  </div>
</section>
