<div class="row u-padding-b-50">
  <div class="col-xs-12">
    <h1 class="o-text--title">Buttons</h1>
  </div>
</div>
<div class="row u-padding-b-50">
  <div class="col-xs-12">
    <% @buttons.variants.each do |btn| %>
      <button type="button" class="btn <%= btn[:class] %>"><%= btn[:name] %></button>
    <% end %>
  </div>
</div>
<div class="row u-padding-b-50">
  <div class="col-xs-12">
    <% @buttons.hover_variants.each do |btn| %>
      <button type="button" class="btn <%= btn[:class] %>"><%= btn[:name] %></button>
    <% end %>
  </div>
</div>
