<div class="row u-padding-b-50">
  <div class="col-xs-12">
    <h1 class="o-text--title">Profile cards</h1>
  </div>
</div>
<div class="row">
  <% @team_members.each do |tm| %>
    <div class="col-xs-12 col-md-6 col-xl-4">
      <div class="c-profile-card">
        <div class="c-profile-card__avatar" style="background-image: url('<%= tm[:avatar] %>')"></div>
        <div class="c-profile-card__content">
          <p class="c-profile-card__title"><%= tm[:name] %></p>
          <p class="c-profile-card__description"><%= tm[:role] %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
