<div class="row u-padding-b-50">
  <div class="col-xs-12">
    <h1 class="o-text--title">Profile cards</h1>
  </div>
</div>
<div class="row">
  <% @team_members.each do |tm| %>
    <div class="col-xs-12 col-md-6 col-xl-4">
      <div class="c-profile-card">
        <p class="o-text--product o-text--company"><%= tm.to_s %></p>
      </div>
    </div>
  <% end %>
</div>
