<div class="w-card u-bg--white">
  <h1 class="c-text--title">This is a card component with the title: <%= title %></h1>

  <% if show_links? %>
    <ul>
      <% links.each do |link| %>
        <li><%= link %></li>
      <% end %>
    </ul>
  <% end %>
</div>